.children-card {
    background-color: #0F9B8E;
    height: 70vh;
    margin-left: 20px;
    
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    border-color: #03719C;
}

.path-container {
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-bottom-color: #03719C;
}

.child-row {
    height: 35px;
    margin: 0px;
}

.back-button {
    color: #616161;
    
}

.back-button:hover {
    color: #212121;
    cursor: pointer;
}

.child-row:hover {
    background-color: #03719C;
    cursor: pointer;
}