.children-card {
    background-color: #f5f5f5;
    height: 70vh;
    margin-left: 20px;
    
    border-radius: 7px;
}

.path-container {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
}

.child-row {
    height: 35px;
    margin: 0px;
}

.back-button {
    color: #616161;
    
}

.back-button:hover {
    color: #212121;
    cursor: pointer;
}

.child-row:hover {
    background-color: #4fc3f7;
    cursor: pointer;
}